.vc-rates-label,
.vc-rates-value,
.vc-rates {
  display: inline-block;
}

.vc-rates {
  margin-right: 10px;
}

.vc-rates-label {
  margin-right: 3px;
}

.vc-rates-value {
  font-size: 18px;
}

.vc-rates-up {
  color: red;
}
.vc-rates-up:before {
  display: inline-block;
  width: 12px;
  height: 8px;
  background-position: 0px 0px;
  background-image: url("./img/icons.png");
  background-repeat: no-repeat;
}
.vc-rates-oil {
  display: inline-block;
  width: 7px;
  height: 12px;
  background-position: 0px -36px;
  background-image: url("./img/icons.png");
  background-repeat: no-repeat;
}

.vc-rates-down {
  color: green;
}
.vc-rates-down:before {
  display: inline-block;
  width: 12px;
  height: 8px;
  background-position: 0px -18px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
}
