.vc-rates-label,
.vc-rates-value,
.vc-rates {
  display: inline-block;
}

.vc-rates {
  margin-right: 10px;
}

.vc-rates-label {
  margin-right: 3px;
}

.vc-rates-value {
  font-size: 18px;
}

.vc-rates-up {
  color: red;
}
.vc-rates-up:before {
  content: " \2191 ";
}


.vc-rates-down {
  color: green;
}
.vc-rates-down:before {
  content: ' \2193 ';
}
